@import './constants';

/** color -theme- start */
body.light {
  --bg: #{$bg-light};
  --textNormal: #{$text-dark};
  --textTitle: #{$text-dark};
  --textLink: #{$text-link-dark};
  --textLinkHover: #{$text-link-dark-hover};
  --btnColor: inherit;
  --btnHover: #{$grey-light};
  --tocBg: #{$bg-light-pale};
  --tocLabel: #{$text-dark};
  --tocSelected: #{$toc-light-selected};
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #{$bg-dark};
  --textNormal: #{$text-light};
  --textTitle: #{$title-light};
  --textLink: #{$text-link-light};
  --textLinkHover: #{$text-link-light-hover};
  --btnColor: inherit;
  --btnHover: #{$grey-dark};
  --tocBg: #{$bg-dark-pale};
  --tocLabel: #{$grey-400};
  --tocSelected: #{$toc-dark-selected};
}

body {
  background-color: $bg-light;
  background-color: var(--bg);
  transition: background-color 300ms ease-in-out;
  --theme-switcher-display: block;

  &.dark {
    table,
    tr,
    th,
    td {
      border-color: #666666;
    }
  }
}

.theme-switcher {
  // this will make the theme switcher hidden if browser doesn't support css variables.
  display: none;
  display: var(--theme-switcher-display);
}

/** color -theme- end */

*[id]:before {
  display: block;
  content: ' ';
  margin-top: -75px; // Set the Appropriate Height
  height: 75px; // Set the Appropriate Height
  visibility: hidden;
}

.landing-page-content {
  *[id]:before {
    display: none;
  }
}

img.emoji-icon {
  margin: 0;
}

h2 > a {
  text-decoration: none;
}

.CodeMirror {
  margin-bottom: $spacing-unit;

  &-code {
    font-size: 12px;
  }
}

.klipse-result {
  position: relative;
  margin-top: $spacing-unit;

  &::before {
    content: 'Result';
    line-height: 1.2;
    position: absolute;
    padding: 4px;
    top: -20px;
    height: 24px;
    border-radius: 2px;
    margin-top: 0;
    z-index: 100;
    visibility: visible;
    background-color: #fdf6e3;

    body.dark & {
      background-color: #011627;
    }
  }

  p {
    margin-bottom: $spacing-unit / 2;
  }

  h3 {
    margin-top: $spacing-unit * 2;
    margin-bottom: $spacing-unit * 2;
  }

  [id]:before {
    display: none;
  }

  // this is to hide the "undefined" line that could confuse student
  &.klipse-eval-javascript .CodeMirror-code > :last-child {
    display: none;
  }
}

.header-link-icon svg path {
  fill: $text-link-dark-hover;
  fill: var(--textLinkHover);
}

.button-toolbar {
  padding: $spacing-unit * 2 0 $spacing-unit * 2 $spacing-unit / 2;
  display: flex;
  justify-content: center;
}

.button-toolbar > .button {
  margin: 0 $spacing-unit;
}

.button-toolbar > .button:first-child {
  margin-left: 0;
}

.button-toolbar > .button:last-child {
  margin-right: 0;
}

.landing-page-content {
  article {
    a {
      text-decoration: none;
      border-bottom: 1px solid;
      border-bottom-color: transparent;
      transition: border-bottom-color 300ms ease-in-out;

      &:hover {
        color: #0d47a1;
        color: var(--textLinkHover);
        border-bottom-color: #0d47a1;
        border-bottom-color: var(--textLinkHover);
      }
    }
  }
}

.main-container {
  padding: 64px 32px 32px;
}

@keyframes circling {
  from {
    transform: rotate(0deg) translate(-120%) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translate(-120%) rotate(360deg);
  }
}

.landing-page-header {
  display: flex;
  position: relative;
  height: 100vh;
  background: #282c34;

  .logo-section {
    .svg-logo {
      width: 100%;
    }

    .svg-logo-container {
      width: 70px;
      height: 70px;
      left: 30%;
      top: 25vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      animation-name: circling;
      animation-duration: 9s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      filter: opacity(50%);

      &:first-child {
        animation-delay: -6s;
      }

      &:last-child {
        animation-delay: -3s;
      }

      @media screen and (min-width: $mobile-width) {
        top: 45vh;
        width: 150px;
      }
    }
  }
}

.landing-page-content {
  position: relative;
  .button-toolbar {
    padding: 16px;
  }
  article,
  .button-toolbar {
    margin-right: 220px;
  }
  article {
    padding-top: 32px;
  }
}

.landing-page .table-of-content-section {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
}

.landing-title-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .button-toolbar {
    position: relative;
  }

  .button--primary {
    &:hover,
    &:focus {
      background-color: #306b7b;
      background-size: 30px 30px;
      background-image: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.1) 25%,
        transparent 25%,
        transparent 50%,
        rgba(0, 0, 0, 0.1) 50%,
        rgba(0, 0, 0, 0.1) 75%,
        transparent 75%,
        transparent
      );
      animation: moving-background 2s linear 0s infinite normal none running;
    }
  }
}

@keyframes moving-background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 60px;
  }
}

.landing-title {
  font-size: 6rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #61dafb;
  text-shadow: 1px 1px 10px #000, 1px 1px 10px #bbb;
  padding-right: 16px;
  transform: translateY(20px);
}

@media screen and (max-width: $mobile-width) {
  .landing-page-header {
    height: 60vh;
  }

  .landing-title {
    font-size: 3rem;
    margin-top: 16px;
    padding: 8px;
    text-align: center;
  }

  .button-toolbar .button {
    flex: 1;
  }

  .button-toolbar {
    padding: 8px;
  }

  .landing-page-content article,
  .landing-page-content .button-toolbar {
    margin-right: 0;
  }

  .landing-page .table-of-content-section {
    padding: 8px;
    position: relative;
  }

  .table-of-content-section li {
    padding: 8px 8px;
  }

  .table-of-content-section.table-of-content-section--fixed {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .hide-small {
    display: none;
  }

  .landing-title {
    font-size: 2rem;
  }
}

/*
** Demo in lessons - Start
*/

.inline-box {
  display: inline-block;
  width: 30px;
  height: 15px;
  border-radius: 3px;
  margin: 0 3px;
  background-color: cyan;
  border: 1px solid teal;
}

.box-model-demo {
  &-container {
    background-color: #bbb;
    border: 1px solid transparent;
  }

  > span {
    display: inline-block;
    border: 2px green dotted;
    width: 100%;
  }
}

/*
** Demo in lessons - End
*/
