@import '../styles/constants';

/**
  Animation on this page:
  - wait 1s
  - typing of the word "Development" for 2s
  - wait around 1s
  - logo and the button appears in 1s
**/

@keyframes delay-fade {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

$delay-fade-animation: delay-fade 5s ease-in-out;

.landing-page-header {
  position: relative;
  height: 70vh;
  background: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 550px) {
    height: 65vh;
  }

  @media screen and (min-width: $mobile-width) {
    height: 100vh;
  }

  .logo-section {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .svg-logo {
      width: 100%;
      max-height: 100%;
      margin: 0;
      transition: filter 200ms ease-in-out;
      filter: grayscale(0.3);
    }

    .svg-logo-container {
      display: inline-flex;
      width: 80px;
      height: 80px;
      padding: $spacing-unit;
      -webkit-tap-highlight-color: transparent;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border-style: solid;
      border-width: 3px;
      border-color: transparent;
      animation: $delay-fade-animation;
      transition-duration: 200ms;
      transition-property: transform, border-color;
      transition-timing-function: $timing-function-bouncy;

      &.js-logo-container {
        padding: $spacing-unit * 2;
      }

      @media screen and (min-width: $mobile-width) {
        width: 150px;
        height: 150px;
        padding: $spacing-unit * 2;

        &.js-logo-container {
          padding: $spacing-unit * 4;
        }
      }

      &:hover,
      &:focus {
        transition-delay: 0;
        transform: scale(1.2);
        border-color: $text-link-light;
        outline: none;
        .svg-logo {
          filter: none;
        }
      }
    }
  }
}

.landing-title-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: $spacing-unit * 2;

  .button-toolbar {
    position: relative;
    animation: $delay-fade-animation;
  }
}

/**
    typing animation is inspired by Lea Verou CSS Secret
*/
@keyframes typing {
  from {
    width: 0;
  }

  33.333% {
    width: 0;
  }

  100% {
    width: 11ch;
  }
}

@keyframes caret {
  50% {
    border-right-color: currentColor;
  }
}

.landing-title {
  font-size: 6rem;
  font-family: Consolas, Monaco, monospace;
  font-weight: bold;
  color: #61dafb;
  text-shadow: 1px 1px 10px #000, 1px 1px 10px #bbb;
  padding: 0 16px;
  margin: 0;

  @media screen and (max-width: 500px) {
    font-size: 2rem;
  }

  @media screen and (max-width: $mobile-width) {
    font-size: 3rem;
    padding: 8px;
    text-align: center;
  }

  .animated-word {
    display: inline-block;
    width: 11ch;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.05em solid transparent;
    animation: typing 3s steps(11), caret 1s steps(1) infinite;
  }
}
